@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: "Poppins", sans-serif;
  }
  .h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
  }
  .h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }
.button{
    width: 100%;
    margin: 20px auto auto auto;
    align-self: center;
    font-size: large;
    
    color: white;
    height: 7vh;
    box-shadow: 0px 1px 4px 0px #00000040;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #e97575
}
.button:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
  }